absl-py==0.7.1
astor==0.8.0
certifi==2019.3.9
chardet==3.0.4
Cython==0.29.7
dyNET==2.1
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
idna==2.8
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1.1
mock==3.0.5
numpy==1.16.3
protobuf==3.7.1
psutil==5.6.6
requests==2.22.0
six==1.12.0
stanfordcorenlp==3.9.1.1
tensorboard==1.13.1
tensorflow==2.9.3
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.26.5
Werkzeug==0.15.4